version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: ./docker/go.dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/myapp
    volumes:
      - ./:/app
    depends_on:
      - db
    networks:
      - app-network

  db:
    build:
      context: .
      dockerfile: ./docker/posgresql.dockerfile
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=myapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge